@page "/awards"
@inject HttpClient _httpClient

@if (_model != null)
{
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center">
        <div class="w-100">
            <h2 class="mb-5">Awards</h2>
            <ul class="fa-ul mb-0">
                @foreach (Models.Award award in _model)
                {
                    <li>
                        <i class="@award.Icon"></i>
                        @((MarkupString)award.Description)
                    </li>
                }
            </ul>
        </div>
    </section>
}
else
{
    <Loader />
}

@code
{
    private List<Models.Award> _model;

    protected override async Task OnInitializedAsync()
    {
        _model = await _httpClient.GetJsonAsync<List<Models.Award>>("api/awards.json");
    }
}
